.button-search{
    background-color: $colorSecondary-700;
    color: $colorPrimary-100;
    padding: 10px;
    font-weight: 700;
}

.button-erase{
    background-color: $colorSecondary-400;
    color: $colorPrimary-700;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
}

.button-item{
    background-color: $colorSecondary-400;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 2px;
    margin-right: 5px;
}