html{
    font-size: 16px;
}

body {
    background: $colorPrimary-100;
    color: $colorPrimary-700;
    font-family: $fontPrimary;
    max-width: 1300px;
    margin: auto;
}

button{
    background-color: none;
    font-size: 100%;
    font-family: inherit;
    border: none;
    color: inherit;
}
