.favorites{
	background-color: $colorSecondary-700;
	color: $colorPrimary-100;
}

.show__item, .favorites__item{
	list-style: none;
}

.page__main{
	display: flex;
	justify-content: space-between;
}

.label-search{
	visibility: hidden;
	position: absolute;
	top: -1000;
}
#search{
	border: none;
	border-bottom: 2px solid $colorPrimary-400;
	padding: 10px;
}
.page__title-favorites{
	text-align: center;
}